{% extends "base.html" %}
{% load static %}
<title>{% block title %}ShowNewStyle / Main page{% endblock %}</title>

{% block content %}<br><br>
    <div class="block-1">
        <img src="https://static.djangoproject.com/img/fundraising-heart.cd6bb84ffd33.svg" style="float: right; padding-bottom: 200px; width: 250px; margin-right: 10%;">
        <h1 class="block-1-h1">Найди свой стиль</h1>
        <p class="block-1-p">На нашем сайте размещены наборы одежды из разных магазинов.
            Наши лучшие имиджмейкеры помогут вам одеться так, как это будет делать .</p>
        <a href="http://127.0.0.1:8000/products/"><p class="block-1-button">Найти стиль</p></a>
        <div style="clear: left"></div>
    </div>
    <div style="clear: left"></div>
{% endblock %}