<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
    <meta charset="UTF-8">
    <title>Caneasyio</title>
    <link rel="shortcut icon" href="https://static.djangoproject.com/img/fundraising-heart.cd6bb84ffd33.svg" type="image/x-icon">
</head>
<body>
    {% include 'header.html' %}
    {% block content %}{% endblock %}
    {% include 'footer.html' %}
</body>
</html>