<footer class="footer">
    <div class="container">
       <div class="footer-left-el">
           <h1 class="slogan">Caneasyio</h1>
           <p class="footer-email">2022 - 2023</p>
           <div style="clear: left"></div>
       </div>
      <table class="footer-table">
          <tr class="footer-um">
              <td class="footer-el-1">О нас</td>
              <td class="footer-el-2">Технологии</td>
              <td class="footer-el-3">Контакты</td>
              <td class="footer-el-3">Прочее</td>
          </tr>
          <tr class="footer-um">
              <td class="footer-el"><a href="" style="text-decoration: none; color: white">О проекте</a></td>
              <td class="footer-el">Из чего сделано</td>
              <td class="footer-el">Для связи</td>
              <td class="footer-el">Блог</td>
          </tr>
          <tr>
              <td class="footer-el"><a href="" style="text-decoration: none; color: white">Об авторе</a></td>
              <td class="footer-el">Где находится</td>
              <td class="footer-el">По вопросам</td>
              <td class="footer-el">Карта сайта</td>
          </tr>
      </table>
    </div>
</footer>
