<header class="l-header">
    <nav class="nav bd-grid">
        <a href="/" class="nav__logo">caneasyio</a>
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                {% if request.user.is_authenticated %}
                    <li class="nav__item"><a href="http://127.0.0.1:8000/products/" class="nav__link">товары</a></li>
                    <li class="nav__item"><a href="{% url 'profiles:profile' %}" class="nav__link">профиль</a></li>
                    <li class="nav__item"><a href="{% url 'profiles:logout' %}" class="nav__link">выход</a></li>
                {% else %}
                    <li class="nav__item"><a href="http://127.0.0.1:8000/products/" class="nav__link">товары</a></li>
                    <li class="nav__item"><a href="{% url 'profiles:login' %}" class="nav__link">вход</a></li>
                    <li class="nav__item"><a href="{% url 'profiles:register' %}" class="nav__link">регистрация</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>